server:
  port: 2333
  address: 127.0.0.1

lavalink:
  plugins:
    - dependency: "dev.lavalink.youtube:youtube-plugin:1.18.1"
      snapshot: false
  server:
    password: "change-this-password"
    sources:
      youtube: false
      http: true
      soundcloud: false
      bandcamp: false
      twitch: false
      vimeo: false
      local: false

plugins:
  youtube:
    enabled: true
    allowSearch: true
    allowDirectVideoIds: false
    allowDirectPlaylistIds: false

logging:
  level:
    root: INFO
    lavalink: INFO
